<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<head>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
   <div id="map" style="width: 80%;height: 600px;"></div>
   <script>
    var map = L.map('map').
    setView([20.656535, -103.325162],
           11);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);

    '{% for municipio in municipios %}'
    var lat=Number('{{municipio[4]}}', 10);
    console.log(lat);
    var long=Number('{{municipio[5]}}', 10);
    console.log(long);
    var point = [lat,long];
    var myMarker = L.marker(point);
    myMarker.addTo(map);
    myMarker.bindPopup(
        '<p><b>{{municipio[0]}}</b></p><p>Número de Primarias: {{municipio[1]}}</p><p>Número de Secundarias: {{municipio[2]}}</p><p>Número de Preparatorias: {{municipio[3]}}</p>',
        {minWidth : 256}
    );
    '{% endfor %}'
    </script>
    <br><br>
    <div>
        <table>
            <caption>Escuelas</caption>
            <thead>
                <tr>
                    <td>Municipio</td>
                    <td>Cantidad de primarias</td>
                    <td>Cantidad de secundarias</td>
                    <td>Cantidad de preparatorias</td>
                    <!--
                    <td>Latitud</td>
                    <td>Longitud</td>
                     -->
                </tr>
            </thead>
            <tbody>
                {% for municipio in municipios %}
                <tr>
                    <td>{{municipio.0}}</td>
                    <td>{{municipio.1}}</td>
                    <td>{{municipio.2}}</td>
                    <td>{{municipio.3}}</td>
                    <!--
                    <td>{{municipio.4}}</td>
                    <td>{{municipio.5}}</td>
                    -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
</body>
</html>
